@font-face {
	font-family: 'HBLL';
	src:url('fonts/icon/HBLL.eot');
	src:url('fonts/icon/HBLL.eot?#iefix') format('embedded-opentype'),
		url('fonts/icon/HBLL.woff') format('woff'),
		url('fonts/icon/HBLL.ttf') format('truetype'),
		url('fonts/icon/HBLL.svg#HBLL') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'HBLL';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-IcoMoon, .icon-safari, .icon-opera, .icon-IE, .icon-firefox, .icon-chrome, .icon-css3, .icon-html5, .icon-html5-2, .icon-file-css, .icon-file-xml, .icon-file-powerpoint, .icon-file-zip, .icon-file-excel, .icon-file-word, .icon-file-openoffice, .icon-file-pdf, .icon-libreoffice, .icon-yelp, .icon-paypal, .icon-paypal-2, .icon-paypal-3, .icon-foursquare, .icon-foursquare-2, .icon-flattr, .icon-xing, .icon-xing-2, .icon-pinterest, .icon-pinterest-2, .icon-stackoverflow, .icon-stumbleupon, .icon-stumbleupon-2, .icon-delicious, .icon-lastfm, .icon-lastfm-2, .icon-linkedin, .icon-reddit, .icon-skype, .icon-soundcloud, .icon-soundcloud-2, .icon-windows8, .icon-windows, .icon-android, .icon-finder, .icon-apple, .icon-tux, .icon-yahoo, .icon-tumblr, .icon-tumblr-2, .icon-blogger, .icon-blogger-2, .icon-joomla, .icon-wordpress, .icon-wordpress-2, .icon-github, .icon-github-2, .icon-github-3, .icon-github-4, .icon-github-5, .icon-steam, .icon-steam-2, .icon-deviantart, .icon-deviantart-2, .icon-forrst, .icon-forrst-2, .icon-dribbble, .icon-dribbble-2, .icon-dribbble-3, .icon-picassa, .icon-picassa-2, .icon-flickr, .icon-flickr-2, .icon-flickr-3, .icon-flickr-4, .icon-lanyrd, .icon-vimeo, .icon-vimeo-2, .icon-youtube, .icon-youtube-2, .icon-feed, .icon-feed-2, .icon-twitter, .icon-twitter-2, .icon-instagram, .icon-facebook, .icon-facebook-2, .icon-google-drive, .icon-google-plus, .icon-google-plus-2, .icon-google-plus-3, .icon-google, .icon-mail, .icon-mail-2, .icon-mail-3, .icon-mail-4, .icon-share, .icon-console, .icon-code, .icon-embed, .icon-new-tab, .icon-indent-decrease, .icon-indent-increase, .icon-paragraph-justify, .icon-paragraph-right, .icon-paragraph-center, .icon-paragraph-left, .icon-paragraph-justify-2, .icon-paragraph-right-2, .icon-paragraph-center-2, .icon-paragraph-left-2, .icon-right-to-left, .icon-left-to-right, .icon-pilcrow, .icon-insert-template, .icon-table, .icon-table-2, .icon-sigma, .icon-omega, .icon-strikethrough, .icon-italic, .icon-underline, .icon-bold, .icon-text-width, .icon-text-height, .icon-font, .icon-filter, .icon-filter-2, .icon-scissors, .icon-crop, .icon-checkbox-partial, .icon-tab, .icon-shuffle, .icon-loop, .icon-loop-2, .icon-loop-3, .icon-volume-decrease, .icon-volume-increase, .icon-volume-mute, .icon-volume-mute-2, .icon-volume-low, .icon-volume-medium, .icon-volume-high, .icon-eject, .icon-next, .icon-previous, .icon-last, .icon-first, .icon-forward, .icon-backward, .icon-stop, .icon-pause, .icon-play, .icon-forward-2, .icon-backward-2, .icon-stop-2, .icon-pause-2, .icon-play-2, .icon-exit, .icon-enter, .icon-minus, .icon-spell-check, .icon-spam, .icon-checkmark-circle, .icon-cancel-circle, .icon-blocked, .icon-notification, .icon-warning, .icon-point-left, .icon-point-down, .icon-point-right, .icon-point-up, .icon-wondering, .icon-wondering-2, .icon-neutral, .icon-neutral-2, .icon-confused, .icon-confused-2, .icon-shocked, .icon-shocked-2, .icon-evil, .icon-evil-2, .icon-angry, .icon-angry-2, .icon-cool, .icon-cool-2, .icon-grin, .icon-grin-2, .icon-wink, .icon-wink-2, .icon-sad, .icon-sad-2, .icon-tongue, .icon-tongue-2, .icon-smiley, .icon-smiley-2, .icon-happy, .icon-happy-2, .icon-heart-broken, .icon-star, .icon-contrast, .icon-brightness-contrast, .icon-brightness-medium, .icon-eye, .icon-earth, .icon-globe, .icon-upload, .icon-download, .icon-upload-2, .icon-download-2, .icon-cloud-upload, .icon-cloud-download, .icon-cloud, .icon-tree, .icon-menu, .icon-numbered-list, .icon-list, .icon-signup, .icon-power-cord, .icon-switch, .icon-lightning, .icon-shield, .icon-target, .icon-accessibility, .icon-road, .icon-truck, .icon-airplane, .icon-briefcase, .icon-remove, .icon-magnet, .icon-lab, .icon-fire, .icon-hammer, .icon-dashboard, .icon-meter2, .icon-meter, .icon-rocket, .icon-leaf, .icon-food, .icon-mug, .icon-glass, .icon-trophy, .icon-gift, .icon-bars, .icon-bars-2, .icon-stats, .icon-pie, .icon-bug, .icon-wand, .icon-hammer-2, .icon-cogs, .icon-equalizer, .icon-settings, .icon-wrench, .icon-key, .icon-key-2, .icon-contract, .icon-expand, .icon-contract-2, .icon-expand-2, .icon-zoom-out, .icon-zoom-in, .icon-binoculars, .icon-busy, .icon-user, .icon-user-2, .icon-users, .icon-user-3, .icon-bubbles, .icon-bubbles-2, .icon-bubble, .icon-bubbles-3, .icon-bubble-2, .icon-reply, .icon-forward-3, .icon-redo, .icon-undo, .icon-flip, .icon-flip-2, .icon-storage, .icon-disk, .icon-upload-3, .icon-download-3, .icon-tv, .icon-tablet, .icon-keyboard, .icon-calendar, .icon-stopwatch, .icon-alarm, .icon-alarm-2, .icon-clock, .icon-history, .icon-map, .icon-location, .icon-phone-hang-up, .icon-calculate, .icon-credit, .icon-coin, .icon-cart, .icon-cart-2, .icon-cart-3, .icon-ticket, .icon-qrcode, .icon-barcode, .icon-paste, .icon-paste-2, .icon-copy, .icon-copy-2, .icon-copy-3, .icon-file, .icon-file-2, .icon-profile, .icon-file-3, .icon-library, .icon-feed-3, .icon-podcast, .icon-connection, .icon-pawn, .icon-diamonds, .icon-clubs, .icon-spades, .icon-pacman, .icon-dice, .icon-film, .icon-home, .icon-home-2, .icon-home-3, .icon-office, .icon-newspaper, .icon-pencil, .icon-camera, .icon-image, .icon-paint-format, .icon-droplet, .icon-blog, .icon-pen, .icon-quill, .icon-pencil-2, .icon-image-2, .icon-images, .icon-book, .icon-bullhorn, .icon-camera-2, .icon-play-3, .icon-headphones, .icon-music, .icon-books, .icon-folder, .icon-folder-open, .icon-stack, .icon-file-4, .icon-tag, .icon-tags, .icon-envelop, .icon-pushpin, .icon-location-2, .icon-compass, .icon-map-2, .icon-clock-2, .icon-bell, .icon-calendar-2, .icon-address-book, .icon-notebook, .icon-phone, .icon-support, .icon-paste-3, .icon-box-add, .icon-drawer, .icon-drawer-2, .icon-drawer-3, .icon-cabinet, .icon-mobile, .icon-mobile-2, .icon-laptop, .icon-screen, .icon-print, .icon-undo-2, .icon-redo-2, .icon-bubbles-4, .icon-spinner, .icon-spinner-2, .icon-search, .icon-spinner-3, .icon-spinner-4, .icon-spinner-5, .icon-quotes-left, .icon-users-2, .icon-user-4, .icon-lock, .icon-lock-2, .icon-unlocked, .icon-spinner-6, .icon-cog, .icon-box-remove, .icon-cog-2, .icon-aid, .icon-remove-2, .icon-list-2, .icon-menu-2, .icon-link, .icon-flag, .icon-attachment, .icon-eye-2, .icon-eye-blocked, .icon-bookmark, .icon-bookmarks, .icon-star-2, .icon-thumbs-up, .icon-thumbs-up-2, .icon-heart, .icon-heart-2, .icon-star-3, .icon-question, .icon-info, .icon-info-2, .icon-checkmark, .icon-checkmark-2, .icon-close, .icon-arrow-up-left, .icon-plus, .icon-arrow-up, .icon-arrow-up-right, .icon-arrow-right, .icon-arrow-down-right, .icon-arrow-down, .icon-arrow-down-left, .icon-arrow-left, .icon-arrow-up-left-2, .icon-arrow-up-2, .icon-arrow-up-right-2, .icon-arrow-right-2, .icon-arrow-down-right-2, .icon-arrow-down-2, .icon-arrow-down-left-2, .icon-arrow-left-2, .icon-arrow-up-left-3, .icon-arrow-up-3, .icon-arrow-up-right-3, .icon-arrow-right-3, .icon-arrow-down-right-3, .icon-arrow-down-3, .icon-arrow-down-left-3, .icon-arrow-left-3, .icon-checkbox-checked, .icon-checkbox-unchecked, .icon-radio-checked, .icon-radio-unchecked, .icon-google-plus-4, .icon-vimeo2, .icon-facebook-3, .icon-twitter-3, .icon-feed-4 {
	font-family: 'HBLL';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-IcoMoon:before {
	content: "\e076";
}
.icon-safari:before {
	content: "\e077";
}
.icon-opera:before {
	content: "\e078";
}
.icon-IE:before {
	content: "\e079";
}
.icon-firefox:before {
	content: "\e07a";
}
.icon-chrome:before {
	content: "\e07b";
}
.icon-css3:before {
	content: "\e07c";
}
.icon-html5:before {
	content: "\e07d";
}
.icon-html5-2:before {
	content: "\e07e";
}
.icon-file-css:before {
	content: "\e07f";
}
.icon-file-xml:before {
	content: "\e080";
}
.icon-file-powerpoint:before {
	content: "\e081";
}
.icon-file-zip:before {
	content: "\e082";
}
.icon-file-excel:before {
	content: "\e083";
}
.icon-file-word:before {
	content: "\e084";
}
.icon-file-openoffice:before {
	content: "\e085";
}
.icon-file-pdf:before {
	content: "\e086";
}
.icon-libreoffice:before {
	content: "\e087";
}
.icon-yelp:before {
	content: "\e088";
}
.icon-paypal:before {
	content: "\e089";
}
.icon-paypal-2:before {
	content: "\e08a";
}
.icon-paypal-3:before {
	content: "\e08b";
}
.icon-foursquare:before {
	content: "\e08c";
}
.icon-foursquare-2:before {
	content: "\e08d";
}
.icon-flattr:before {
	content: "\e08e";
}
.icon-xing:before {
	content: "\e08f";
}
.icon-xing-2:before {
	content: "\e090";
}
.icon-pinterest:before {
	content: "\e091";
}
.icon-pinterest-2:before {
	content: "\e092";
}
.icon-stackoverflow:before {
	content: "\e093";
}
.icon-stumbleupon:before {
	content: "\e094";
}
.icon-stumbleupon-2:before {
	content: "\e095";
}
.icon-delicious:before {
	content: "\e096";
}
.icon-lastfm:before {
	content: "\e097";
}
.icon-lastfm-2:before {
	content: "\e098";
}
.icon-linkedin:before {
	content: "\e099";
}
.icon-reddit:before {
	content: "\e09a";
}
.icon-skype:before {
	content: "\e09b";
}
.icon-soundcloud:before {
	content: "\e09c";
}
.icon-soundcloud-2:before {
	content: "\e09d";
}
.icon-windows8:before {
	content: "\e09e";
}
.icon-windows:before {
	content: "\e09f";
}
.icon-android:before {
	content: "\e0a0";
}
.icon-finder:before {
	content: "\e0a1";
}
.icon-apple:before {
	content: "\e0a2";
}
.icon-tux:before {
	content: "\e0a3";
}
.icon-yahoo:before {
	content: "\e0a4";
}
.icon-tumblr:before {
	content: "\e0a5";
}
.icon-tumblr-2:before {
	content: "\e0a6";
}
.icon-blogger:before {
	content: "\e0a7";
}
.icon-blogger-2:before {
	content: "\e0a8";
}
.icon-joomla:before {
	content: "\e0a9";
}
.icon-wordpress:before {
	content: "\e0aa";
}
.icon-wordpress-2:before {
	content: "\e0ab";
}
.icon-github:before {
	content: "\e0ac";
}
.icon-github-2:before {
	content: "\e0ad";
}
.icon-github-3:before {
	content: "\e0ae";
}
.icon-github-4:before {
	content: "\e0af";
}
.icon-github-5:before {
	content: "\e0b0";
}
.icon-steam:before {
	content: "\e0b1";
}
.icon-steam-2:before {
	content: "\e0b2";
}
.icon-deviantart:before {
	content: "\e0b3";
}
.icon-deviantart-2:before {
	content: "\e0b4";
}
.icon-forrst:before {
	content: "\e0b5";
}
.icon-forrst-2:before {
	content: "\e0b6";
}
.icon-dribbble:before {
	content: "\e0b7";
}
.icon-dribbble-2:before {
	content: "\e0b8";
}
.icon-dribbble-3:before {
	content: "\e0b9";
}
.icon-picassa:before {
	content: "\e0ba";
}
.icon-picassa-2:before {
	content: "\e0bb";
}
.icon-flickr:before {
	content: "\e0bc";
}
.icon-flickr-2:before {
	content: "\e0bd";
}
.icon-flickr-3:before {
	content: "\e0be";
}
.icon-flickr-4:before {
	content: "\e0bf";
}
.icon-lanyrd:before {
	content: "\e0c0";
}
.icon-vimeo:before {
	content: "\e0c1";
}
.icon-vimeo-2:before {
	content: "\e037";
}
.icon-youtube:before {
	content: "\e0c2";
}
.icon-youtube-2:before {
	content: "\e0c3";
}
.icon-feed:before {
	content: "\e0c4";
}
.icon-feed-2:before {
	content: "\e036";
}
.icon-twitter:before {
	content: "\e0c5";
}
.icon-twitter-2:before {
	content: "\e035";
}
.icon-instagram:before {
	content: "\e0c6";
}
.icon-facebook:before {
	content: "\e0c7";
}
.icon-facebook-2:before {
	content: "\e034";
}
.icon-google-drive:before {
	content: "\e0c8";
}
.icon-google-plus:before {
	content: "\e0c9";
}
.icon-google-plus-2:before {
	content: "\e033";
}
.icon-google-plus-3:before {
	content: "\e0ca";
}
.icon-google:before {
	content: "\e0cb";
}
.icon-mail:before {
	content: "\e0cc";
}
.icon-mail-2:before {
	content: "\e0cd";
}
.icon-mail-3:before {
	content: "\e0ce";
}
.icon-mail-4:before {
	content: "\e0cf";
}
.icon-share:before {
	content: "\e0d0";
}
.icon-console:before {
	content: "\e0d1";
}
.icon-code:before {
	content: "\e0d2";
}
.icon-embed:before {
	content: "\e0d3";
}
.icon-new-tab:before {
	content: "\e0d4";
}
.icon-indent-decrease:before {
	content: "\e0d5";
}
.icon-indent-increase:before {
	content: "\e0d6";
}
.icon-paragraph-justify:before {
	content: "\e0d7";
}
.icon-paragraph-right:before {
	content: "\e0d8";
}
.icon-paragraph-center:before {
	content: "\e0d9";
}
.icon-paragraph-left:before {
	content: "\e0da";
}
.icon-paragraph-justify-2:before {
	content: "\e0db";
}
.icon-paragraph-right-2:before {
	content: "\e0dc";
}
.icon-paragraph-center-2:before {
	content: "\e0dd";
}
.icon-paragraph-left-2:before {
	content: "\e0de";
}
.icon-right-to-left:before {
	content: "\e0df";
}
.icon-left-to-right:before {
	content: "\e0e0";
}
.icon-pilcrow:before {
	content: "\e0e1";
}
.icon-insert-template:before {
	content: "\e0e2";
}
.icon-table:before {
	content: "\e0e3";
}
.icon-table-2:before {
	content: "\e0e4";
}
.icon-sigma:before {
	content: "\e0e5";
}
.icon-omega:before {
	content: "\e0e6";
}
.icon-strikethrough:before {
	content: "\e0e7";
}
.icon-italic:before {
	content: "\e0e8";
}
.icon-underline:before {
	content: "\e0e9";
}
.icon-bold:before {
	content: "\e0ea";
}
.icon-text-width:before {
	content: "\e0eb";
}
.icon-text-height:before {
	content: "\e0ec";
}
.icon-font:before {
	content: "\e0ed";
}
.icon-filter:before {
	content: "\e0ee";
}
.icon-filter-2:before {
	content: "\e0ef";
}
.icon-scissors:before {
	content: "\e0f0";
}
.icon-crop:before {
	content: "\e0f1";
}
.icon-checkbox-partial:before {
	content: "\e065";
}
.icon-tab:before {
	content: "\e048";
}
.icon-shuffle:before {
	content: "\e038";
}
.icon-loop:before {
	content: "\e039";
}
.icon-loop-2:before {
	content: "\e03a";
}
.icon-loop-3:before {
	content: "\e03b";
}
.icon-volume-decrease:before {
	content: "\e03c";
}
.icon-volume-increase:before {
	content: "\e03d";
}
.icon-volume-mute:before {
	content: "\e03e";
}
.icon-volume-mute-2:before {
	content: "\e03f";
}
.icon-volume-low:before {
	content: "\e040";
}
.icon-volume-medium:before {
	content: "\e041";
}
.icon-volume-high:before {
	content: "\e042";
}
.icon-eject:before {
	content: "\e043";
}
.icon-next:before {
	content: "\e044";
}
.icon-previous:before {
	content: "\e045";
}
.icon-last:before {
	content: "\e046";
}
.icon-first:before {
	content: "\e047";
}
.icon-forward:before {
	content: "\e049";
}
.icon-backward:before {
	content: "\e04a";
}
.icon-stop:before {
	content: "\e04b";
}
.icon-pause:before {
	content: "\e04c";
}
.icon-play:before {
	content: "\e04d";
}
.icon-forward-2:before {
	content: "\e04e";
}
.icon-backward-2:before {
	content: "\e04f";
}
.icon-stop-2:before {
	content: "\e050";
}
.icon-pause-2:before {
	content: "\e051";
}
.icon-play-2:before {
	content: "\e066";
}
.icon-exit:before {
	content: "\e0f2";
}
.icon-enter:before {
	content: "\e0f3";
}
.icon-minus:before {
	content: "\e026";
}
.icon-spell-check:before {
	content: "\e0f4";
}
.icon-spam:before {
	content: "\e024";
}
.icon-checkmark-circle:before {
	content: "\e025";
}
.icon-cancel-circle:before {
	content: "\e064";
}
.icon-blocked:before {
	content: "\e0f5";
}
.icon-notification:before {
	content: "\e02c";
}
.icon-warning:before {
	content: "\e05e";
}
.icon-point-left:before {
	content: "\e05f";
}
.icon-point-down:before {
	content: "\e0f6";
}
.icon-point-right:before {
	content: "\e0f7";
}
.icon-point-up:before {
	content: "\e0f8";
}
.icon-wondering:before {
	content: "\e0f9";
}
.icon-wondering-2:before {
	content: "\e0fa";
}
.icon-neutral:before {
	content: "\e0fb";
}
.icon-neutral-2:before {
	content: "\e0fc";
}
.icon-confused:before {
	content: "\e0fd";
}
.icon-confused-2:before {
	content: "\e0fe";
}
.icon-shocked:before {
	content: "\e0ff";
}
.icon-shocked-2:before {
	content: "\e100";
}
.icon-evil:before {
	content: "\e101";
}
.icon-evil-2:before {
	content: "\e102";
}
.icon-angry:before {
	content: "\e103";
}
.icon-angry-2:before {
	content: "\e104";
}
.icon-cool:before {
	content: "\e105";
}
.icon-cool-2:before {
	content: "\e106";
}
.icon-grin:before {
	content: "\e107";
}
.icon-grin-2:before {
	content: "\e108";
}
.icon-wink:before {
	content: "\e109";
}
.icon-wink-2:before {
	content: "\e10a";
}
.icon-sad:before {
	content: "\e10b";
}
.icon-sad-2:before {
	content: "\e10c";
}
.icon-tongue:before {
	content: "\e10d";
}
.icon-tongue-2:before {
	content: "\e10e";
}
.icon-smiley:before {
	content: "\e10f";
}
.icon-smiley-2:before {
	content: "\e110";
}
.icon-happy:before {
	content: "\e111";
}
.icon-happy-2:before {
	content: "\e112";
}
.icon-heart-broken:before {
	content: "\e052";
}
.icon-star:before {
	content: "\e022";
}
.icon-contrast:before {
	content: "\e023";
}
.icon-brightness-contrast:before {
	content: "\e053";
}
.icon-brightness-medium:before {
	content: "\e054";
}
.icon-eye:before {
	content: "\e020";
}
.icon-earth:before {
	content: "\e01f";
}
.icon-globe:before {
	content: "\e021";
}
.icon-upload:before {
	content: "\e029";
}
.icon-download:before {
	content: "\e061";
}
.icon-upload-2:before {
	content: "\e063";
}
.icon-download-2:before {
	content: "\e067";
}
.icon-cloud-upload:before {
	content: "\e068";
}
.icon-cloud-download:before {
	content: "\e113";
}
.icon-cloud:before {
	content: "\e114";
}
.icon-tree:before {
	content: "\e115";
}
.icon-menu:before {
	content: "\e02d";
}
.icon-numbered-list:before {
	content: "\e116";
}
.icon-list:before {
	content: "\e117";
}
.icon-signup:before {
	content: "\e062";
}
.icon-power-cord:before {
	content: "\e118";
}
.icon-switch:before {
	content: "\e119";
}
.icon-lightning:before {
	content: "\e11a";
}
.icon-shield:before {
	content: "\e11b";
}
.icon-target:before {
	content: "\e11c";
}
.icon-accessibility:before {
	content: "\e11d";
}
.icon-road:before {
	content: "\e11e";
}
.icon-truck:before {
	content: "\e11f";
}
.icon-airplane:before {
	content: "\e120";
}
.icon-briefcase:before {
	content: "\e121";
}
.icon-remove:before {
	content: "\e122";
}
.icon-magnet:before {
	content: "\e01e";
}
.icon-lab:before {
	content: "\e123";
}
.icon-fire:before {
	content: "\e124";
}
.icon-hammer:before {
	content: "\e125";
}
.icon-dashboard:before {
	content: "\e126";
}
.icon-meter2:before {
	content: "\e127";
}
.icon-meter:before {
	content: "\e128";
}
.icon-rocket:before {
	content: "\e129";
}
.icon-leaf:before {
	content: "\e12a";
}
.icon-food:before {
	content: "\e12b";
}
.icon-mug:before {
	content: "\e12c";
}
.icon-glass:before {
	content: "\e12d";
}
.icon-trophy:before {
	content: "\e12e";
}
.icon-gift:before {
	content: "\e12f";
}
.icon-bars:before {
	content: "\e130";
}
.icon-bars-2:before {
	content: "\e131";
}
.icon-stats:before {
	content: "\e132";
}
.icon-pie:before {
	content: "\e133";
}
.icon-bug:before {
	content: "\e134";
}
.icon-wand:before {
	content: "\e060";
}
.icon-hammer-2:before {
	content: "\e135";
}
.icon-cogs:before {
	content: "\e055";
}
.icon-equalizer:before {
	content: "\e01d";
}
.icon-settings:before {
	content: "\e136";
}
.icon-wrench:before {
	content: "\e137";
}
.icon-key:before {
	content: "\e056";
}
.icon-key-2:before {
	content: "\e069";
}
.icon-contract:before {
	content: "\e06a";
}
.icon-expand:before {
	content: "\e138";
}
.icon-contract-2:before {
	content: "\e139";
}
.icon-expand-2:before {
	content: "\e13a";
}
.icon-zoom-out:before {
	content: "\e13b";
}
.icon-zoom-in:before {
	content: "\e13c";
}
.icon-binoculars:before {
	content: "\e01c";
}
.icon-busy:before {
	content: "\e01b";
}
.icon-user:before {
	content: "\e01a";
}
.icon-user-2:before {
	content: "\e06b";
}
.icon-users:before {
	content: "\e06c";
}
.icon-user-3:before {
	content: "\e06d";
}
.icon-bubbles:before {
	content: "\e019";
}
.icon-bubbles-2:before {
	content: "\e02a";
}
.icon-bubble:before {
	content: "\e06e";
}
.icon-bubbles-3:before {
	content: "\e018";
}
.icon-bubble-2:before {
	content: "\e06f";
}
.icon-reply:before {
	content: "\e13d";
}
.icon-forward-3:before {
	content: "\e13e";
}
.icon-redo:before {
	content: "\e13f";
}
.icon-undo:before {
	content: "\e140";
}
.icon-flip:before {
	content: "\e141";
}
.icon-flip-2:before {
	content: "\e142";
}
.icon-storage:before {
	content: "\e070";
}
.icon-disk:before {
	content: "\e071";
}
.icon-upload-3:before {
	content: "\e143";
}
.icon-download-3:before {
	content: "\e144";
}
.icon-tv:before {
	content: "\e017";
}
.icon-tablet:before {
	content: "\e057";
}
.icon-keyboard:before {
	content: "\e058";
}
.icon-calendar:before {
	content: "\e016";
}
.icon-stopwatch:before {
	content: "\e014";
}
.icon-alarm:before {
	content: "\e059";
}
.icon-alarm-2:before {
	content: "\e05a";
}
.icon-clock:before {
	content: "\e05b";
}
.icon-history:before {
	content: "\e015";
}
.icon-map:before {
	content: "\e05c";
}
.icon-location:before {
	content: "\e012";
}
.icon-phone-hang-up:before {
	content: "\e010";
}
.icon-calculate:before {
	content: "\e00e";
}
.icon-credit:before {
	content: "\e00f";
}
.icon-coin:before {
	content: "\e011";
}
.icon-cart:before {
	content: "\e013";
}
.icon-cart-2:before {
	content: "\e030";
}
.icon-cart-3:before {
	content: "\e031";
}
.icon-ticket:before {
	content: "\e032";
}
.icon-qrcode:before {
	content: "\e05d";
}
.icon-barcode:before {
	content: "\e072";
}
.icon-paste:before {
	content: "\e00d";
}
.icon-paste-2:before {
	content: "\e028";
}
.icon-copy:before {
	content: "\e02e";
}
.icon-copy-2:before {
	content: "\e02f";
}
.icon-copy-3:before {
	content: "\e073";
}
.icon-file:before {
	content: "\e074";
}
.icon-file-2:before {
	content: "\e145";
}
.icon-profile:before {
	content: "\e00b";
}
.icon-file-3:before {
	content: "\e146";
}
.icon-library:before {
	content: "\e147";
}
.icon-feed-3:before {
	content: "\e00a";
}
.icon-podcast:before {
	content: "\e027";
}
.icon-connection:before {
	content: "\e148";
}
.icon-pawn:before {
	content: "\e02b";
}
.icon-diamonds:before {
	content: "\e149";
}
.icon-clubs:before {
	content: "\e14a";
}
.icon-spades:before {
	content: "\e14b";
}
.icon-pacman:before {
	content: "\e14c";
}
.icon-dice:before {
	content: "\e14d";
}
.icon-film:before {
	content: "\e009";
}
.icon-home:before {
	content: "\e000";
}
.icon-home-2:before {
	content: "\e001";
}
.icon-home-3:before {
	content: "\e002";
}
.icon-office:before {
	content: "\e14f";
}
.icon-newspaper:before {
	content: "\e150";
}
.icon-pencil:before {
	content: "\e151";
}
.icon-camera:before {
	content: "\e005";
}
.icon-image:before {
	content: "\e004";
}
.icon-paint-format:before {
	content: "\e003";
}
.icon-droplet:before {
	content: "\e006";
}
.icon-blog:before {
	content: "\e007";
}
.icon-pen:before {
	content: "\e008";
}
.icon-quill:before {
	content: "\e14e";
}
.icon-pencil-2:before {
	content: "\e152";
}
.icon-image-2:before {
	content: "\e153";
}
.icon-images:before {
	content: "\e154";
}
.icon-book:before {
	content: "\e155";
}
.icon-bullhorn:before {
	content: "\e156";
}
.icon-camera-2:before {
	content: "\e157";
}
.icon-play-3:before {
	content: "\e158";
}
.icon-headphones:before {
	content: "\e159";
}
.icon-music:before {
	content: "\e15a";
}
.icon-books:before {
	content: "\e15b";
}
.icon-folder:before {
	content: "\e15c";
}
.icon-folder-open:before {
	content: "\e15d";
}
.icon-stack:before {
	content: "\e00c";
}
.icon-file-4:before {
	content: "\e15e";
}
.icon-tag:before {
	content: "\e15f";
}
.icon-tags:before {
	content: "\e160";
}
.icon-envelop:before {
	content: "\e161";
}
.icon-pushpin:before {
	content: "\e162";
}
.icon-location-2:before {
	content: "\e163";
}
.icon-compass:before {
	content: "\e164";
}
.icon-map-2:before {
	content: "\e165";
}
.icon-clock-2:before {
	content: "\e166";
}
.icon-bell:before {
	content: "\e167";
}
.icon-calendar-2:before {
	content: "\e168";
}
.icon-address-book:before {
	content: "\e169";
}
.icon-notebook:before {
	content: "\e16a";
}
.icon-phone:before {
	content: "\e16b";
}
.icon-support:before {
	content: "\e16c";
}
.icon-paste-3:before {
	content: "\e16d";
}
.icon-box-add:before {
	content: "\e16e";
}
.icon-drawer:before {
	content: "\e16f";
}
.icon-drawer-2:before {
	content: "\e170";
}
.icon-drawer-3:before {
	content: "\e171";
}
.icon-cabinet:before {
	content: "\e172";
}
.icon-mobile:before {
	content: "\e173";
}
.icon-mobile-2:before {
	content: "\e174";
}
.icon-laptop:before {
	content: "\e175";
}
.icon-screen:before {
	content: "\e176";
}
.icon-print:before {
	content: "\e177";
}
.icon-undo-2:before {
	content: "\e178";
}
.icon-redo-2:before {
	content: "\e179";
}
.icon-bubbles-4:before {
	content: "\e17a";
}
.icon-spinner:before {
	content: "\e17b";
}
.icon-spinner-2:before {
	content: "\e17c";
}
.icon-search:before {
	content: "\e17d";
}
.icon-spinner-3:before {
	content: "\e17e";
}
.icon-spinner-4:before {
	content: "\e17f";
}
.icon-spinner-5:before {
	content: "\e180";
}
.icon-quotes-left:before {
	content: "\e181";
}
.icon-users-2:before {
	content: "\e182";
}
.icon-user-4:before {
	content: "\e183";
}
.icon-lock:before {
	content: "\e184";
}
.icon-lock-2:before {
	content: "\e185";
}
.icon-unlocked:before {
	content: "\e186";
}
.icon-spinner-6:before {
	content: "\e187";
}
.icon-cog:before {
	content: "\e188";
}
.icon-box-remove:before {
	content: "\e189";
}
.icon-cog-2:before {
	content: "\e18a";
}
.icon-aid:before {
	content: "\e18b";
}
.icon-remove-2:before {
	content: "\e18c";
}
.icon-list-2:before {
	content: "\e18d";
}
.icon-menu-2:before {
	content: "\e18e";
}
.icon-link:before {
	content: "\e18f";
}
.icon-flag:before {
	content: "\e190";
}
.icon-attachment:before {
	content: "\e191";
}
.icon-eye-2:before {
	content: "\e192";
}
.icon-eye-blocked:before {
	content: "\e193";
}
.icon-bookmark:before {
	content: "\e194";
}
.icon-bookmarks:before {
	content: "\e195";
}
.icon-star-2:before {
	content: "\e196";
}
.icon-thumbs-up:before {
	content: "\e197";
}
.icon-thumbs-up-2:before {
	content: "\e198";
}
.icon-heart:before {
	content: "\e199";
}
.icon-heart-2:before {
	content: "\e19a";
}
.icon-star-3:before {
	content: "\e19b";
}
.icon-question:before {
	content: "\e19c";
}
.icon-info:before {
	content: "\e19d";
}
.icon-info-2:before {
	content: "\e19e";
}
.icon-checkmark:before {
	content: "\e19f";
}
.icon-checkmark-2:before {
	content: "\e1a0";
}
.icon-close:before {
	content: "\e1a1";
}
.icon-arrow-up-left:before {
	content: "\e1a2";
}
.icon-plus:before {
	content: "\e1a3";
}
.icon-arrow-up:before {
	content: "\e1a4";
}
.icon-arrow-up-right:before {
	content: "\e1a5";
}
.icon-arrow-right:before {
	content: "\e1a6";
}
.icon-arrow-down-right:before {
	content: "\e1a7";
}
.icon-arrow-down:before {
	content: "\e1a8";
}
.icon-arrow-down-left:before {
	content: "\e1a9";
}
.icon-arrow-left:before {
	content: "\e1aa";
}
.icon-arrow-up-left-2:before {
	content: "\e1ab";
}
.icon-arrow-up-2:before {
	content: "\e1ac";
}
.icon-arrow-up-right-2:before {
	content: "\e1ad";
}
.icon-arrow-right-2:before {
	content: "\e1ae";
}
.icon-arrow-down-right-2:before {
	content: "\e1af";
}
.icon-arrow-down-2:before {
	content: "\e1b0";
}
.icon-arrow-down-left-2:before {
	content: "\e1b1";
}
.icon-arrow-left-2:before {
	content: "\e1b2";
}
.icon-arrow-up-left-3:before {
	content: "\e1b3";
}
.icon-arrow-up-3:before {
	content: "\e1b4";
}
.icon-arrow-up-right-3:before {
	content: "\e1b5";
}
.icon-arrow-right-3:before {
	content: "\e1b6";
}
.icon-arrow-down-right-3:before {
	content: "\e1b7";
}
.icon-arrow-down-3:before {
	content: "\e1b8";
}
.icon-arrow-down-left-3:before {
	content: "\e1b9";
}
.icon-arrow-left-3:before {
	content: "\e1ba";
}
.icon-checkbox-checked:before {
	content: "\e1bb";
}
.icon-checkbox-unchecked:before {
	content: "\e1bc";
}
.icon-radio-checked:before {
	content: "\e1bd";
}
.icon-radio-unchecked:before {
	content: "\e1be";
}
.icon-google-plus-4:before {
	content: "\e1bf";
}
.icon-vimeo2:before {
	content: "\e1c0";
}
.icon-facebook-3:before {
	content: "\e1c1";
}
.icon-twitter-3:before {
	content: "\e1c2";
}
.icon-feed-4:before {
	content: "\e1c3";
}
