
/* @group Stuff */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
.transview,
.transview .main,
.transview form {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background: #323a45;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	color: #9ea7b3;
	line-height: 1;
}

a {
	color: #DAE1EB;
	text-decoration: none;
}
a:hover {
	color: #fff;
}

b {
	font-weight: 600;
}

.serif {
	font-family: serif;
}
.sansSerif {
	font-family: 'HBLL';
}
.hidden {
	position: absolute;
	left: -9999em;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.corner {
	position: absolute;
	top: 0;
	right: 0;
}
.relative {
	position: relative;
}

.button {
	background: #14b9d6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 1.4rem;
	font-weight: 600;
	display: inline-block;
	line-height: 1.2em;
	padding: 8px 16px;
	border-radius: 1em;
	border: 0;
	cursor: pointer;
	margin: .5rem;
}
.button.delete {
	background-color: #e86259;
}

.hiddenForm {
	display: none;
}

/* @end */

/* @group Header */
#header {
	background: #242A31;
	line-height: 50px;
	font-size: 15px;
	font-weight: 400;
	position: fixed;
	width: 100%;
	z-index: 1000;
	padding: 0 16px 0 32px;
}

#header h1 {
	float: left;
	font-size: 24px;
	font-weight: 300;
}
#header h1 a {
	display: block;
	color: #fff;
}

#header li > a,
#header li > span,
#toggle {
	display: block;
	padding: 0 16px;
	margin: 0;
}

#header li > a span {
	padding-right: 3px;
}

#header li {
	float: left;
}

#header .crumbs {
	overflow: hidden;
	float: left;
}
#header .crumbs li {
	line-height: 45px;
	padding: 5px 0 0 18px;
}
#header .crumbs li > * {
	max-width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	padding: 0 10px 0 7px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-box-sizing: content-box;
	padding: 0;
}
#header .crumbs li:before {
	content: "\232a";
	color: rgba(255, 255, 255, 0.4);
	float: left;
	margin-right: 8px;
}

#header nav {
	float: right;
}
#header nav > * {
	float: left;
}
#header nav .userkey {
	display: block;
	margin-right: 14px;
	padding-right: 30px;
	opacity: 0.85;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#header nav .userkey b {
}
#header nav #toggle {
	display: none;
}

/* @end */


/* @group Footer */
#footer {
	text-align: center;
	font-size: 1.2rem;
    color: hsl(220, 5%, 50%);
	padding: 40px 0;
}
#footer p {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 650px;
	margin: 0 auto;
	padding: 20px 0;
}
#footer p a {
    color: hsl(220, 5%, 60%);
}
#footer p a:hover {
    color: hsl(220, 5%, 70%);
    text-decoration: underline;
}
/* @end */

/* @group Main */
.main {
	padding: 80px 32px 30px;
	max-width: 45em;
	margin: 0 auto;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 130%;
}
.main h1,
.main h2,
.main h3,
.main h4 {
	line-height: 1.3em;
}

.main h1 {
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 2em;
}

.main h2 {
	color: #fff;
	font-size: 2.6rem;
	font-weight: 700;
	margin-bottom: 0.8em;
}
.main h3 {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 1em;
	color: rgba(255, 255, 255, 0.8);
}
.main h4 {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0 0 1em;
}
.main p {
	margin: 0 0 1em;
	line-height: 1.5em;
}

.main p + h3 {
	margin-top: 2em;
}

.main section {
	margin: 0 0 5rem;
}

.main section header {
	margin: 0 0 2rem;
}
.main section header * {
	margin: 0;
}
.main section header p {
	margin: 0.2em 0 0;
}

.main img {
	max-width: 100%;
}

.transview .main {
	max-width: none;
}

/* @end */

/* @group Tasks */
#available {
	min-height: 13em;
}
.tasks {
	font-size: 1.6rem;
	font-style: italic;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	margin: 0 0 3rem;
}
.tasks li {
	padding: 1.2rem 1.5rem 1.4rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
.tasks li:hover {
	background: #2A333C;
	cursor: pointer;
}
.tasks li:hover .type {
	color: #fff;
}
.tasks [class^=icon] {
	margin-right: 1.4rem;
	position: relative;
	top: 2px;
}
.tasks .type {
	font-weight: 600;
	font-size: 1.8rem;
	font-style: normal;
	margin-right: 0.4em;
}
.tasks .title:hover {
	color: #fff;
	text-decoration: underline;
}
.tasks .label_wrap {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: #313945;
	background: -webkit-linear-gradient(left, rgba(49, 58, 69, 0) 0, rgba(49, 58, 69, 1) 4rem);
	background: -moz-linear-gradient(left, rgba(49, 58, 69, 0) 0, rgba(49, 58, 69, 1) 4rem);
	background: -ms-linear-gradient(left, rgba(49, 58, 69, 0) 0, rgba(49, 58, 69, 1) 4rem);
	padding: 1.1rem 1.5rem 1rem 4rem;
}
.tasks .label {
	color: rgba(255, 255, 255, 0.8);
	background: #f27935;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 400;
	font-style: normal;
	padding: 0.3em 0.5em;
}
.tasks li:hover .label_wrap {
	background: #2A333C;
	background: -webkit-linear-gradient(left, rgba(42, 51, 60, 0) 0, #2A333C 4rem);
	background: -moz-linear-gradient(left, rgba(42, 51, 60, 0) 0, #2A333C 4rem);
	background: -ms-linear-gradient(left, rgba(42, 51, 60, 0) 0, #2A333C 4rem);
}
.tasks a.view_all_tasks {
    display: inline-block;
    margin: .7rem 5rem;
    font-style: normal;
    opacity: .5;
}
.tasks a.view_all_tasks:hover {
    opacity: .7;
}

#completed h3 {
	color: #9ea7b3;
}
#completed .tasks .label {
	background: rgba(0, 0, 0, 0.15);
	color: rgba(255, 255, 255, 0.4);
}

#completed .tasks li,
#completed .tasks li a {
	color: #9ea7b3;
}
/* Tasks */
/* --------------------------------------------------- */

.task {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
	position: relative;
}

.task.stacked {
	-webkit-flex-direction: column;
	flex-direction: column;
}

/* Source */
.task .source {
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: flex;
	width: 65%;
	float: left;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.task .source figure {
	-webkit-flex: 1;
	flex: 1;
    overflow: auto;
}
.task .source img {
	display: block;
}

.task .source figure.fillWidth img {
	width: 100%;
}

/* Splitter */

.task .splitter {
	text-align: center;
	vertical-align: baseline;
	height: 100%;
	width: 20px;
	cursor: ew-resize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.splitter-icon {
	display: block;
	position: relative;
	top: -webkit-calc(50% - 16px);
	top: -moz-calc(50% - 16px);
	top: calc(50% - 16px);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* Transcript */
.task .transcript {
	height: 100%;
	width: 35%;
	float: right;
	position: relative;
	border: none;
}
.task .transcript #transcriptionTextArea, .task .transcript #transcriptDimmer {
	background: #fff;
	color: #000;
	height: 100%;
	font-size: 2.1rem;
	padding: 2rem 2.5rem;
	font-weight: 400;
}
.transcript pre {
    display: initial;
}
.task .transcript > div:focus {
	outline: none;
}

/* With Tags */
.task .transcript .tags {
	display: none;
	background: #eee;
	padding: 0.6em 2rem;
	height: 140px;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #ccc;
	overflow: auto;
}
.task .transcript .tags h3 {
	color: #666;
	margin: 0 0 0.5em;
}
.task .transcript .tags button {
	background: #777;
	border: none;
	color: #fff;
	border-radius: 3px;
	padding: 0.4rem 0.7rem 0.5rem;
	font-size: 1.2rem;
}
.task .transcript .tags button:hover {
	background: #555;
	cursor: pointer
}

.task .transcript.has_tags #transcriptionTextArea {
	height: -webkit-calc(100% - 140px);
	height: calc(100% - 140px);
}
.task .transcript.has_tags .tags {
	display: block;
}

#transcriptDimmer {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	background: rgba(0, 0, 0, 0.8);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Staked View */
.task.stacked .source {
	width: 100%;
	float: none;
	height: 60%;
	min-height: 0;
}
.task.stacked .splitter {
	height: 20px;
	width: 100%;
	cursor: ns-resize;
}
.task.stacked .splitter-icon {
	display: inline;
	position: static;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none;
}
.task.stacked .transcript {
	width: 100%;
	float: none;
	height: 40%;
	border-width: 1px 0 0 0;
}

.task.stacked .transcript.has_tags #transcriptionTextArea {
	width: -webkit-calc(100% - 240px);
	width: calc(100% - 240px);
	height: 100%;
	float: left;
}
.task.stacked .transcript.has_tags .tags {
	width: 240px;
	height: 100%;
	display: block;
	float: right;
	border-width: 0 0 0 1px;
}

.task .audioControls {
	position: relative;
	top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 2px;
	padding-right: 4px;
	color: white;
	text-align: center;
	background-color: #1C1C1C;
	border-radius: 3px;
	min-width: 200px;
	width: 75%;
	height: 25px;
	display: flex;
}

.task .audioControls .timeDisplay {
	font-size: 0.65em;
	width: 70px;
	vertical-align: center;
	transform: translateY(0.336em)
}

.task .audioControls .seekSlider {
	height: 100%;
	width: calc(100% - 25px - 70px - 25px - 25px);
	padding-left: 10px;
	padding-right: 10px;
}

.task .audioControls .seekTrack {
	background-color: white;
	position: relative;
	top: 50%;
	height: 1px;
	width: 100%;
}

.task .audioControls .seekCursor {
	background-color: white;
	border-radius: 50%;
	position: relative;
	transform: translate(-6px, -6px);
	height: 12px;
	width: 12px;
}

.task .audioControls .audioControlButton {
	height: 100%;
	width: 25px;
	font-size: 14px;
	padding-top: 6px;
	cursor: default;
}

.task .audioControls .verticalSlider {
	position: relative;
	top: -115px;
	width: 100%;
	height: 100px;
	background-color: #1C1C1C;
	border-radius: 3px 3px 0 0;
	display: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.task .audioControls .verticalTrack {
	background-color: white;
	position: relative;
	left: calc(50% - 1px);
	height: 100%;
	width: 1px;
}

.task .audioControls .verticalCursor {
	background-color: white;
	border-radius: 50%;
	position: relative;
	transform: translate(-5.5px, -5.5px);
	height: 12px;
	width: 12px;
}

/* Finished Tasks Overlay */
.task .notouch {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAL0lEQVQIW2NU0TTYzIAE/v9n2MyILAgWYGTwhQvCBECawILIAmBBZQ2DNJAWZHMBI6YRpzTzACkAAAAASUVORK5CYII=) repeat;
	color: #fff;
	font-size: 2.2rem;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
}
.task .notouch p {
	position: absolute;
	top: 45%;
	width: 100%;
}
/* @end */

/* @group Projects */
.project {
	background: rgba(0, 0, 0, 0.1);
	padding: 3rem;
	border-radius: 3px;
}
.project .info {
	margin: 0 0 2.5em;
}
.project .progressbar {
	background: rgba(0, 0, 0, 0.3);
	padding: 1px;
	border-radius: 3px;
	width: 50%;
	display: block;
	line-height: 1em;
}
.project .progressfill {
	background: #14b9d6;
	border-radius: 2px 0 0 2px;
	display: block;
	position: relative;
	height: 8px;
}
.project .progressnum {
	color: #14b9d6;
	position: absolute;
	bottom: -18px;
	left: 0;
	font-size: 11px;
}

.project .description {
	margin: 2em 0;
}
.project .meta {
	float: right;
	text-align: right;
	margin: -3rem -3rem 3rem 3rem;
	padding: 1rem 0 0;
}
.project .meta h3 {
	font-size: 1.4rem;
	color: rgba(255, 255, 255, 0.6);
	margin: 0 0 0.5em;
}
.project .meta p {
	margin: 0;
}
.project .meta li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding: 2rem 3rem 2rem 1rem;
}
.project .meta li:last-child {
	border: none;
}

.shortcutkey {
	color: rgba(255, 255, 255, 0.5);
}
.shortcutkey em {
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	margin-right: 1em;
}

div.roles p, a.editProjectRoles {
	margin: 1rem;
}
a.editProjectRoles {
	display: block;
	font-size: .8em;
}
a.addUser:hover:after {
	content: " +";
}
a.deleteUser:hover {
	text-decoration: line-through;
}
b.globalRoles, a.anyoneCanTranscribe {
	color: #fda;
}

.toolbar {
	margin: 1.2rem 0 0;
	overflow: hidden;
	clear: both;
}
section.project .toolbar {
	margin: 3rem -3rem -3rem;
	padding: .7rem 2rem;
	background-color: #323a45;
}
.toolbar li {
	font-size: 1.4rem;
	font-weight: 400;
	float: left;
	margin-right: 1em;
}
.toolbar li.right {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}
.toolbar li button {
	background: none;
	border: none;
	font-size: 1.4rem;
	font-family: inherit;
	padding: 0;
	margin: 0;
	line-height: 1;
	color: #DAE1EB;
	cursor: pointer;
}
.toolbar li a,
.toolbar li button,
.toolbar li.message,
.toolbar li span {
	padding: 0.5em 1em 0.6em;
	display: inline-block;
	border-radius: 3px;
}
.toolbar li.message {
	clear: both;
}
.toolbar li a:hover,
.toolbar li button:hover,
.toolbar .save.saving {
	background: rgba(0, 0, 0, 0.3);
}

.toolbar li [class^=icon] {
	margin-right: 0.2em;
    padding: 0;
}

.toolbar #zoomButtons {
	font-family: 'HBLL';
}

.toolbar #pagesNav, .toolbar #serifToggle {
	font-family: 'HBLL';
    padding: 0;
}
.toolbar #pagesNav button, .toolbar #serifToggle button {
    padding: 1rem;
    margin: 0;
}

.toolbar .skip {
	color: #f27935;
}
.toolbar .submit {
	color: #1fbba6;
}
.toolbar .save {
	color: #14b9d6;
}

.toolbar .spinner {
	-webkit-animation: spinner 0.3s linear;
	-webkit-animation-iteration-count: infinite;
	animation: spinner 0.3s linear;
	animation-iteration-count: infinite;
	display: none;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}

}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}

}

.toolbar .saving .spinner {
	display: inline-block;
}
.toolbar .saving .icon {
	display: none;
}

.toolbar .failedToSave {
	background-color: red;
}

div.projectTasks {
	margin-top: 2em;
}
div.projectTasks ul li {
	display: inline;
	margin-left: 1em;
	font-size: 1.3rem;
}

/* @end */

/* @group Forms */
form .field {
	margin: 0 0 1.5em;
}
form label {
	display: block;
	font-weight: 600;
	font-size: 1.4rem;
	margin: 0 0 0.5em;
}

form input[type="text"],
form input[type="password"],
form textarea,
form input[type="number"] {
	font-family: inherit;
	font-size: 1.4rem;
	padding: 8px;
	width: 100%;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px #999;
	background: rgba(255, 255, 255, 0.88);
	margin: 0;
	display: block;
}

form input[type="text"]:focus,
form textarea:focus,
form input[type="number"]:focus {
	background: rgba(255, 255, 255, 1);
	outline: none;
}

form#login input {
    width: 20rem;
}

form .option {
	display: inline-block;
	margin: 0 0.3rem 0.5rem;
	background: #ddd;
	padding: 0.2em 0.4em;
	line-height: 1em;
	border-radius: 3px;
}
form .option label {
	display: inline;
	font-weight: normal;
	font-size: 1.2rem;
}

form button,
form input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form.report input[type="text"] {
    display: initial;
    width: 16rem;
}
/* @end */

/* @group notify, alert, intro, help, shortcuts */

/* @group notify */

.notify {
	font-weight: 600;
	position: fixed;
	width: 100%;
	position: fixed;
	z-index: 5000;
	text-align: center;
	margin: 30px 0 0;
	padding: 0 136px;
}
.notify li {
	display: inline-block;
	margin: 0 0 1em;
	padding: 0.7em 2em;
	background: #c9f2ce;
	text-align: center;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.8);
}
.notify li.error {
	background: #f0c7c7;
}
.notify a {
	color: #f00;
}

/* @end */

/* @group alert */
/* alert (message for new users) */
.alert {
	border: 5px solid #748fb5;
	background-color: #eee;
	color: #000;
	padding: 1em 2em;
	margin: 1em 0 2em 0;
	font-weight: normal;
	line-height: 160%;
}
.alert a {
	color: #e65500;
}
.alert a:hover {
	color: #ff9a5e;
}
.notice {
	color: #f6e3a2;
}

/* @end */
/* @group browser warning */
body #browserWarning {
	display: block;
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}
body #browserWarning h1 {
	font-size: 3rem;
}

/* @end */

/* @group Intro */
#intro {
	text-align: center;
	margin: 0px 0 0;
}
#intro h1 {
	color: #fff;
	text-transform: capitalize;
	font-size: 6.0rem;
	font-weight: 300;
	margin: 0 0 0.2em;
}
#intro .slogan {
	color: rgba(255, 255, 255, 0.8);
	font-size: 2.0rem;
	margin: 0 0 4.6rem;
}
#intro .statement {
	text-align: left;
	padding: 1.8em;
	background: rgba(0, 0, 0, 0.1);
	text-align: justify;
	font-size: .8em;
}
#intro .statement h3 {
	text-align: center;
}
#intro .statement .signin {
	font-size: 2.0rem;
	font-weight: 600;
	margin: 1em 0 0;
	text-align: center;
}
#intro .statement .signin a:hover {
	text-decoration: underline;
}

/* @end */
/* @group help page */
.help h2 {
	margin-top: 1em;
}
.help ul, .help ol {
	margin: 2rem 0;
	padding-left: 2rem;
}
.help ul li, .help ol li {
	margin: .5em 0;
}
.help ul {
	list-style: disc;
}
.help ol {
	list-style: decimal;
}
img.helpImage {
	max-width: none;
	margin-left: -4.5em;
	box-shadow: 0 5px 10px #000;
}
/* @end */

/* @group faq page */
.faq p.question {
	color: #fff;
	font-weight: 600;
	margin-top: 2em;
}

.faq p + h2 {
	margin-top: 2em;
}
/* @end */

/* @group keyboard shortcuts */
.keyboardShortcuts {
	display: inline-block;
	text-align: left;
	line-height: 150%;
}

/* @end */
/* @end */



/* @group diff selection */
button.insertTags {
	margin: .2em .2em;
}
#transcriptionTextArea {
	line-height: 1.4em;
	white-space: pre-wrap;
	unicode-bidi: embed;
	overflow-y: scroll;
	word-wrap: break-word;
}
span.opts {
	color: #000;
	/* 	margin: 1px; */
}
span.opt {
	background-color: #aed;
	/* 	padding: 0 .2em;	 */
	/*	border-radius: .2em;*/
}
span.firstOption {
	background-color: #adf;
	/* 	padding: 0 .2em;	 */
	/*	border-radius: .2em;*/
}
span.optHidden {
	display: none;
}
span.optEmpty {
	background-color: #fff;
}
span.optEmpty:after {
	content: '\00d7';
	/*	content: '^';*/
	/*	content: '[empty]';*/
	/*	content: ' ';*/
	color: #a00;
	vertical-align: top;
	background-color: #eee;
}
#applyVisibleTextOptions {
}
#diffInstructions {
//    margin-top: 1em;
	text-align: center;
	/* 	font-weight: bold; */
//    center vertically
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#diffInstructions p.instructions {
	color: #444;
	font-size: .8em;
    line-height: 1.2;
    font-weight: normal;
}
#diffInstructions button {
	font-size: 1.3em;
}
#diffInstructions #flipDiffs {
    color: hsl(200, 50%, 60%);
}
#diffInstructions #flipDiffs:hover {
    color: hsl(200, 50%, 40%);
    cursor: pointer;
}
/* @end */




/* @group TEI Tagging */
name, date, TEIhead, q, add, del, note, unclear, hi {
	color: #00f;
}
hi[rend="underline"] {
	text-decoration: underline;
}
hi[rend="bold"] {
	font-weight: bold;
}
hi[rend="italic"] {
	font-style: italic;
}
hi[rend="sup"] {
	vertical-align: super;
	font-size: .7em;
}
hi[rend="sub"] {
	vertical-align: sub;
	font-size: .7em;
}
.task .transcript .tags button.applied {
	background: #77f;
	box-shadow: 0 1px 2px #000;
}

/* for TEI lite tags that don't wrap any content (like <pb n="5"/>) show something so they are visible */
pb:before {
	content: attr(n);
	color: #0c0;
}

/* @end */



/* @group Audio/Video stuff */
audio {
	width: 100%;
	padding: 5em 4em 3em 4em;
}

/* @end */



/* @group users and roles */

/*Users*/
table.users tbody tr th, table.globalUsers tbody tr th {
	font-weight: bold;
	padding: .5em 1em;
	background-color: #2b333f;
}
table.users tbody tr td, table.globalUsers tbody tr td {
	padding: 0em 1em;
	white-space: nowrap;
}
table.users tbody tr:hover {
	background-color: #33434e;
}
span.recentActivity a {
	margin: 0 .5em;
	opacity: .5;
}
span.recentActivity a:hover {
	opacity: 1;
}
span.recentActivity a.current, th a.current {
	text-decoration: underline;
	opacity: 1;
}
h2.user {
	display: inline-block;
}
ul.roles {
	display: inline-block;
	margin-left: 1em;
	vertical-align: text-bottom;
}
ul.users li, ul.usertasks li, ul.projects {
	white-space: nowrap;
}
ul.usertasks li .datetime {
	display: inline-block;
	width: 11em;
}
ul.usertasks li.skipped {
	text-decoration: line-through;
	opacity: .5;
}
ul.usertasks li.finished .status {
	color: #abe2b4;
}
ul.usertasks li.progress .status {
	color: #e1e1ab;
}
ul.usertasks li.skipped .status {
	color: #e0abab;
}
ul.usertasks li .projectTitle {
	font-style: italic;
}

/*editRoles*/
div.editRoles div {
	margin: 2em 0;
}

/* @end */

@media screen and (max-width: 1400px) {
	#header {
		padding-right: 0;
	}
	#header nav {
		position: relative;
	}
	#header nav ul {
		display: none;
		position: absolute;
		top: 50px;
		right: 0;
		background: #161b21;
		width: 170px;
		text-align: right;
		padding: 8px 0;
	}
	#header nav li {
		float: none;
		line-height: 40px;
	}
	#header nav li a {
		display: block;
		padding: 0 30px;
	}
	#header nav li a:hover {
		text-decoration: underline;
	}
	#header nav #toggle {
		display: inline-block;
		padding-right: 30px;
		padding-left: 30px;
	}
	#header nav:hover ul {
		display: inline-block;
	}
	#header nav:hover #toggle {
		background: #161b21;
	}

	#header nav .userkey {
		margin: 0;
	}

}
