{% extends "admin/base.html" %}
{% load admin_static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
	<a href="{% url 'reports:list' %}">Reports</a>
	<span class="separator">|</span>
	<a href="{% url 'dashboard' %}">Transcribe Home</a>
	<span class='separator'>|</span>
	<a href="{% url 'logout' %}">Log out</a>
{% endblock %}
