{% extends "transcribe/web/base.html" %}

{% block header %}{% endblock %}

{% block content %}
<div id="intro">
	<h1>Transcribe</h1>

	<p class="slogan">Help transcribe books, diaries, audio recordings, and other media.</p>

	<section class="statement">
		<p class="signin"><a href="{% url 'login' %}?next=/dashboard">Sign In &rarr;</a></p>
	</section>
</div>
{% endblock %}
