{% extends "transcribe/web/base.html" %}

{% block content %}
<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}
	<p>Are you sure you want to delete this project?<br>
	The entire project, transcriptions, and media will be permanently deleted.</p>

	<p><input type="submit" class='button delete' value="Delete">
	<input type="submit" name='cancel' class='button' value="Cancel"></p>
</form>
{% endblock %}
